.service-part{
    border: 1px solid darkcyan;
    border-radius: 10px;
}
.service-part img{
    width: 100%;
    height: 350px;
    padding: 5px;
    border-radius: 10px;

}
.card-heading{
    padding: 10px;
}
.card-heading  h4{
   color: navy;
  
}