.header{
    background-image: url('../../images/university.jpg');
    background-repeat: no-repeat;
    height:300px;
    width: 100%;
    background-blend-mode: overlay; 
    background-size: cover;
    background-position: center;  
}
body{
    overflow-x: hidden;
}
.bg-clr{
      background-color: rgba(135, 206, 250, 0.308);
      width: 100%;
      
}
.nav-bar {
    text-decoration: none;
}
.nav-item {
    list-style: none;
    font-size: 22px;
    font-weight: 600;
    color:pink;
    cursor: pointer;
    padding: 5px;
    margin-left: 50px;
    text-decoration: none;
    background-color:black;
    border-radius: 15px;
    border: 1px solid darkslategrey;
   
  }
  .nav-item:hover {
    color :deeppink;
  }