.footer-container {
    background-color: black;
    color: pink;
    width: 100%;
    height: 200px;
    border-bottom: 0;
}
.footer {
    list-style: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 500;
    color:pink;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
  }

